Importing numpy, pandas and matplotlib

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (12,12)

Populating the interactive namespace from numpy and matplotlib

/anaconda/lib/python3.6/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

Loadings the files:
1. quant_scores = stock quant scores
2. total_returns = stock total returns
3. index_wts = stock index weights over time
4. index_return = return of the index

In [6]:
dfqs = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//quant_scores.csv', index_col = 0, parse_dates=True)
dftr = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//total_returns.csv', index_col = 0, parse_dates=True)
dfindwt = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//index_wts.csv', index_col = 0, parse_dates=True)
dfpsei = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//pcomp_return.csv', index_col = 0, parse_dates=True)

dfpsei.head(10)

       PCOMP TR  PCOMP Price
36922       NaN          NaN
36950 -0.043003    -0.043574
36980 -0.102164    -0.103558
37011 -0.046213    -0.046709
37042  0.018912     0.017007
37071  0.005548     0.005548
37103 -0.032613    -0.033459
37134 -0.066469    -0.071502
37162 -0.109693    -0.109693
37195 -0.118300    -0.118300

Checking the relationship of scores to forward performance of the stock.

I am going to do this by checking the regression line of performance versus the score.

In [7]:
#transforming the dftr into price levels

dfpl = dftr/100
x, y = dfpl.shape
for a in range(0,x):
    for b in range(0,y):
        if (a==0) & (type(dfpl.loc[dfpl.index[a], dfpl.columns[b]])==np.float64) & (not(np.isnan(dfpl.loc[dfpl.index[a], dfpl.columns[b]]))):
            dfpl.loc[dfpl.index[a], dfpl.columns[b]] = 1.00
        elif ((a+1)<x) & (np.isnan(dfpl.loc[dfpl.index[a], dfpl.columns[b]])) & (type(dfpl.loc[dfpl.index[np.minimum(a+1,x-1)], dfpl.columns[b]])==np.float64) & (not(np.isnan(dfpl.loc[dfpl.index[np.minimum(a+1,x-1)], dfpl.columns[b]]))):
            dfpl.loc[dfpl.index[a], dfpl.columns[b]] = 1.00
        elif np.isnan(dfpl.loc[dfpl.index[a], dfpl.columns[b]]):
            dfpl.loc[dfpl.index[a], dfpl.columns[b]] = np.nan
        elif (type(dfpl.loc[dfpl.index[a], dfpl.columns[b]])==np.float64) & (a>=1):
            dfpl.loc[dfpl.index[a], dfpl.columns[b]] = dfpl.loc[dfpl.index[a-1], dfpl.columns[b]]*(1+(dfpl.loc[dfpl.index[a], dfpl.columns[b]]))

dfpl.to_csv('//Users//Jamie//Downloads//stock_pricelevel.csv')
dfpl.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,NaN,1.0000,NaN
36950,1.061224,0.838710,0.876712,0.916667,0.812500,0.940000,0.989583,1.018519,1.028571,0.912281,...,1.055556,NaN,NaN,NaN,0.906667,NaN,1.011111,NaN,1.1200,NaN
36981,1.061224,0.741935,0.712329,0.750000,0.781250,0.803419,0.875000,0.711112,0.952381,0.631579,...,0.925926,NaN,NaN,NaN,0.826667,NaN,0.888889,NaN,1.2544,NaN
37011,1.040816,0.758064,0.780822,0.750000,0.828125,0.779316,0.762501,0.696297,0.881834,0.666667,...,0.812216,NaN,NaN,NaN,0.800001,NaN,0.944444,NaN,1.2544,NaN
37042,1.020407,0.741935,1.520547,0.750000,0.786250,0.825915,0.804862,0.770371,0.881834,0.701756,...,0.828460,NaN,NaN,NaN,0.906667,NaN,0.933333,NaN,1.4560,NaN

In [9]:
print ('testing v2')

testing v2