Portfolio Construction

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels as sm
import matplotlib as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (16,8)

Populating the interactive namespace from numpy and matplotlib

/anaconda/lib/python3.6/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['plt']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [197]:
dfqs = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//quant_scores.csv', index_col = 0, parse_dates=True)
dftr = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//total_returns.csv', index_col = 0, parse_dates=True)
dfindwt = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//index_wts.csv', index_col = 0, parse_dates=True)
dfpsei = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//pcomp_return.csv', index_col = 0, parse_dates=True)

In [61]:
dfqs.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,NaN,-0.062443,-0.053796,0.307173,0.196642,0.516090,-0.406294,-0.482474,NaN,NaN,...,NaN,0.307173,NaN,NaN,NaN,NaN,0.516090,NaN,NaN,NaN
36950,NaN,-0.035469,-0.050858,0.196175,0.275168,-0.364142,-0.229654,-0.417662,NaN,NaN,...,NaN,0.196175,NaN,NaN,NaN,NaN,-0.364142,NaN,NaN,NaN
36981,NaN,0.258605,0.328888,-0.095036,-0.132697,0.055743,0.147378,0.116802,NaN,NaN,...,NaN,-0.095036,NaN,NaN,NaN,NaN,0.055743,NaN,NaN,NaN
37011,NaN,0.382619,0.074050,-0.842184,-0.392563,0.369888,0.301919,0.543440,NaN,NaN,...,NaN,-0.842184,NaN,NaN,NaN,NaN,0.369888,NaN,NaN,NaN
37042,NaN,-0.540034,0.028212,0.086328,0.624103,0.287636,0.212853,-0.094265,NaN,NaN,...,NaN,0.086328,NaN,NaN,NaN,NaN,0.287636,NaN,NaN,NaN

In [198]:
dfpsei = dfpsei.reset_index()
dfpsei = dfpsei.drop('index', axis=1)
dfpsei.head(5)

   PCOMP TR  PCOMP Price
0       NaN          NaN
1 -0.043003    -0.043574
2 -0.102164    -0.103558
3 -0.046213    -0.046709
4  0.018912     0.017007

In [76]:
#overweight/underweight rules
def OW_UW(qs, s):
    if np.isnan(qs):
        return 0
    elif (qs<-1):
        return s*0
    elif (qs>=-1) & (qs<-0.75):
        return s*-0.25
    elif (qs>=-0.75) & (qs<-0.5):
        return s*-0.5
    elif (qs>=-0.5) & (qs<-0.25):
        return s*-0.5
    elif (qs>=-0.25) & (qs<0):
        return s*-0.5
    elif (qs>=0) & (qs<0.25):
        return s*0
    elif (qs>=0.25) & (qs<0.5):
        return s*0.25
    elif (qs>=0.5) & (qs<0.75):
        return s*0*5
    elif (qs>=0.75) & (qs<1):
        return s*0.5
    elif (qs>=1) & (qs<1.25):
        return s*1
    elif (qs>=1.25) & (qs<1.5):
        return s*1
    elif (qs>=1.5):
        return s*0.5

In [84]:
#creating normalized index weights based on qs
dfpwt = dfindwt
tlt = 1 #tilt max
x, y = dfpwt.shape
for a in range(0,x):
    for b in range(0,y):
        if dfindwt.loc[dfindwt.index[a], dfindwt.columns[b]]==0:
            dfpwt.loc[dfpwt.index[a], dfpwt.columns[b]]=0
        elif dfindwt.loc[dfindwt.index[a], dfindwt.columns[b]]>0:
            dfpwt.loc[dfpwt.index[a], dfpwt.columns[b]] = \
            max(OW_UW(dfqs.loc[dfqs.index[a], dfqs.columns[b]], tlt)/100 \
                + dfindwt.loc[dfpwt.index[a], dfindwt.columns[b]], 0)

dfpwt.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,0,0.000000,0.000000,0.0,0.0,0.040741,0.008921,0.000000,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36950,0,0.000000,0.000000,0.0,0.0,0.024673,0.019924,0.000000,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36981,0,0.012631,0.009981,0.0,0.0,0.037337,0.034002,0.008427,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37011,0,0.012881,0.002791,0.0,0.0,0.044672,0.037413,0.008469,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37042,0,0.000000,0.005355,0.0,0.0,0.046119,0.031105,0.000000,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
#normalization
#x, y = dfpwt.shape
dfsum = pd.DataFrame(dfpwt.sum(axis=1), columns=['Sum'])
dfpwt = dfpwt.divide(dfsum['Sum'], axis=0)

dfpwt.to_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfpwt.csv')

dfpwt.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
36922,0.0,0.000000,0.000000,0.0,0.0,0.048098,0.010533,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36950,0.0,0.000000,0.000000,0.0,0.0,0.028374,0.022913,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36981,0.0,0.012931,0.010218,0.0,0.0,0.038221,0.034807,0.008627,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37011,0.0,0.012891,0.002793,0.0,0.0,0.044706,0.037442,0.008476,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
37042,0.0,0.000000,0.005665,0.0,0.0,0.048791,0.032907,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [105]:
#reimport

dfpwt = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfpwt.csv' \
                   , index_col = 0, parse_dates=True)

In [114]:
#create drifted portfolio, given rebalancing frequency
dfdwt = dfpwt
#change index to datetime
dfdwt = dfdwt.reset_index()

from datetime import datetime

dfdwt['Date 2'] = dfdwt['index'] + datetime(1900, 1, 1).toordinal() - 2
dfdwt['Date 3'] = dfdwt['Date 2'].apply(datetime.fromordinal)
dfdwt['Date 3'] = dfdwt['Date 3'].apply(pd.to_datetime)
dfdwt['Month'] = dfdwt['Date 3'].map(lambda x: x.month)

#index details transfer to new dataframe, then drop
dfmonth = dfdwt[['index','Date 2','Date 3','Month']]

dfdwt = dfdwt.drop(['index','Date 2','Date 3','Month'], axis=1)
dfdwt.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
0,0.0,0.000000,0.000000,0.0,0.0,0.048098,0.010533,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.0,0.0,0.028374,0.022913,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.012931,0.010218,0.0,0.0,0.038221,0.034807,0.008627,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.012891,0.002793,0.0,0.0,0.044706,0.037442,0.008476,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.005665,0.0,0.0,0.048791,0.032907,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

1.0000000000000002

In [116]:
#export
dfdwt.to_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfdwt_1.csv')
dfmonth.to_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfmonth.csv')

In [150]:
#reimport
dfdwt = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfdwt_1.csv' \
                   , index_col = 0, parse_dates=True)
dfmonth = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfmonth.csv' \
                   , index_col = 0, parse_dates=True)

In [151]:
dfmonth.head(5)

   index  Date 2      Date 3  Month
0  36922  730516  2001-01-31      1
1  36950  730544  2001-02-28      2
2  36981  730575  2001-03-31      3
3  37011  730605  2001-04-30      4
4  37042  730636  2001-05-31      5

In [152]:
dftr2 = dftr/100
dftr2 = dftr2.reset_index()
dftr2 = dftr2.drop('index', axis=1)
dftr2[np.isnan(dftr2)] = 0
dftr2.head(5)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
0,-0.092593,-0.015873,0.871795,0.304348,-0.058824,0.126126,-0.030303,0.985294,0.141304,0.583333,...,-0.100000,0.0,0.0,0.0,0.000000,0.0,0.097561,0.0,-0.090909,0.0
1,0.061224,-0.161290,-0.123288,-0.083333,-0.187500,-0.060000,-0.010417,0.018519,0.028571,-0.087719,...,0.055556,0.0,0.0,0.0,-0.093333,0.0,0.011111,0.0,0.120000,0.0
2,0.000000,-0.115385,-0.187500,-0.181818,-0.038462,-0.145299,-0.115789,-0.301818,-0.074074,-0.307692,...,-0.122807,0.0,0.0,0.0,-0.088235,0.0,-0.120879,0.0,0.120000,0.0
3,-0.019231,0.021739,0.096154,0.000000,0.060000,-0.030000,-0.128571,-0.020833,-0.074074,0.055556,...,-0.122807,0.0,0.0,0.0,-0.032258,0.0,0.062500,0.0,0.000000,0.0
4,-0.019608,-0.021277,0.947368,0.000000,-0.050566,0.059794,0.055556,0.106383,0.000000,0.052632,...,0.020000,0.0,0.0,0.0,0.133333,0.0,-0.011765,0.0,0.160714,0.0

In [159]:
x, y = dfdwt.shape

for a in range(0,x):
    for b in range(0,y):
        if (b==0) & (a>0):
            dfdwt.loc[dfdwt.index[a-1]] = dfdwt.loc[dfdwt.index[a-1]]/sum(dfdwt.loc[dfdwt.index[a-1]])
            
        if (dfmonth.loc[dfmonth.index[a], 'Month']==3) | (dfmonth.index[a]==0):
            pass
        else:
            dfdwt.loc[dfdwt.index[a], dfdwt.columns[b]] = \
            dfdwt.loc[dfdwt.index[a-1], dfdwt.columns[b]]*(1 + dftr2.loc[dftr2.index[a], dftr2.columns[b]])
        
        if (a==(x-1)) & (b==(y-1)):
            dfdwt.loc[dfdwt.index[a]] = dfdwt.loc[dfdwt.index[a]]/sum(dfdwt.loc[dfdwt.index[a]])

In [160]:
dfdwt.head(10)

,BCI,ION,ICT,URC,UBP,SMCB,ABS,FLI,RLC,EEI,...,RCB,VLL,GMA7,PSE,CHIB,CEB,SMDC,BLOOM,LTG,EMP
0,0.0,0.000000,0.000000,0.0,0.0,0.048098,0.010533,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.000000,0.0,0.0,0.047500,0.010950,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.012931,0.010218,0.0,0.0,0.038221,0.034807,0.008627,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.013561,0.011496,0.0,0.0,0.038053,0.031133,0.008670,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.012965,0.021869,0.0,0.0,0.039397,0.032103,0.009371,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.012684,0.023644,0.0,0.0,0.040247,0.033373,0.010182,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.013073,0.022537,0.0,0.0,0.049339,0.032945,0.008902,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.013373,0.020860,0.0,0.0,0.052642,0.031071,0.009339,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.010691,0.017435,0.0,0.0,0.054871,0.024297,0.008088,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.009801,0.018586,0.0,0.0,0.054741,0.030189,0.007084,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [170]:
#export
dfdwt.to_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfdwt_2.csv')
dftr2.to_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dftr_2.csv')

In [171]:
#reimport
dfdwt = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dfdwt_2.csv' \
                   , index_col = 0, parse_dates=True)
dftr2 = pd.read_csv('//Users//Jamie//Documents//Jupyter Notebook Files//dftr_2.csv' \
                   , index_col = 0, parse_dates=True)

In [207]:
#multiply drifted weights to the returns to get the portfolio return
dfdwt2 = dfdwt*dftr2
dfptr = pd.DataFrame(dfdwt2.sum(axis=1))
dfptr.columns = ['Portfolio TR']
dfptr = pd.concat([dfptr, dfpsei], axis=1)
dfptr['Port Price Base 1'] = 1
dfptr['PCOMP Price Base 1'] = 1
dfptr['PCOMP TR Price Base 1'] = 1
dfptr.head(10)

,Portfolio TR,PCOMP TR,PCOMP Price,Port Price Base 1,PCOMP Price Base 1,PCOMP TR Price Base 1
0,0.148134,NaN,NaN,1,1,1
1,-0.045334,-0.043003,-0.043574,1,1,1
2,-0.087492,-0.102164,-0.103558,1,1,1
3,-0.017350,-0.046213,-0.046709,1,1,1
4,0.039587,0.018912,0.017007,1,1,1
5,0.004787,0.005548,0.005548,1,1,1
6,-0.032051,-0.032613,-0.033459,1,1,1
7,-0.055847,-0.066469,-0.071502,1,1,1
8,-0.108617,-0.109693,-0.109693,1,1,1
9,-0.105741,-0.118300,-0.118300,1,1,1